soap/otx.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
    OTX : OTX SOAP WebService
    @author Nicolas Barts
    @author Pierre-Alain Mignot
    @copyleft 2010, CLEO / Revues.org
-->
<definitions name="OTX"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:tns="urn:otx"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             targetNamespace="urn:otx">
    <types>
        <xsd:schema elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:otx">
            <xsd:complexType name="otxAuthHeader">
                <xsd:all>
                    <xsd:element name="login" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="password" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="lodel_user" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="lodel_site" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                </xsd:all>
            </xsd:complexType>
	        <xsd:complexType name="otxAuthHeaderResponse">
                    <xsd:all>
                        <xsd:element name="AuthStatus" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
                    </xsd:all>
            </xsd:complexType>
            <xsd:complexType name="otxRequestType">
                <xsd:all>
                    <xsd:element name="request" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="mode" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="attachment" type="xsd:hexBinary" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="schema" type="xsd:hexBinary" minOccurs="0" maxOccurs="1"/>
                </xsd:all>
            </xsd:complexType>
	        <xsd:complexType name="otxTokenType">
                    <xsd:all>
                        <xsd:element name="sessionToken" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    </xsd:all>
    	    </xsd:complexType>
            <xsd:complexType name="otxResponseType">
                <xsd:all>
                    <xsd:element name="xml" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="status" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="report" type="xsd:hexBinary" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="odt" type="xsd:hexBinary" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="lodelxml" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="orphannotes" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                </xsd:all>
            </xsd:complexType>
        </xsd:schema>
    </types>

    <message name="otxAuth">
        <part name="otxAuth" type="tns:otxAuthHeader"/>
    </message>
    <message name="otxAuthResponse">
        <part name="otxAuthResponse" type="tns:otxAuthHeaderResponse"/>
    </message>
    <message name="otxRequest">
        <part name="otxRequest" type="tns:otxRequestType"/>
    </message>
    <message name="otxResponse">
        <part name="otxResponse" type="tns:otxResponseType"/>
    </message>
    <message name="otxToken">
        <part name="otxToken" type="tns:otxTokenType"/>
    </message>

    <portType name="otxPortType">
        <operation name="otxRequest">
            <documentation>oo2xml</documentation>
            <input message="tns:otxRequest"/>
            <output message="tns:otxResponse"/>
        </operation>
	    <operation name="otxToken">
                <documentation>Session token</documentation>
                <input message="tns:otxToken"/>
                <output message="tns:otxToken"/>
        </operation>
    </portType>

    <binding name="otxBinding" type="tns:otxPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    	<operation name="otxRequest">
            <soap:operation soapAction="http://otx.lodel.org/otxRequest"/>
            <input>
                <soap:body use="literal" message="tns:otxRequest" part="otxRequest" namespace="urn:otx"/>
                <soap:header use="literal" message="tns:otxAuth" part="otxAuth" namespace="urn:otx"/>
            </input>
            <output>
                <soap:body use="literal" message="tns:otxResponse" part="otxResponse" namespace="urn:otx"/>
                <soap:header use="literal" message="tns:otxAuthResponse" part="otxAuthResponse" namespace="urn:otx"/>
            </output>
        </operation>
	    <operation name="otxToken">
                <soap:operation soapAction="http://otx.lodel.org/otxToken"/>
                <input>
                    <soap:body use="literal"/>
                </input>
                <output>
                    <soap:body use="literal"/>
                </output>
        </operation>
    </binding>

    <service name="otxService">
        <port name="otxPort" binding="tns:otxBinding">
            <soap:address location="http://otx.lodel.org/"/>
        </port>
    </service>

</definitions>